{% load static %}
<!DOCTYPE html>
<html lang="en">
  <title>{% block title %}GILLFLOWER{% endblock title %} </title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  


<body>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>    
      <title>flowershop</title>
  </head>
  <body class="{% block body_class %}{% endblock %}">
    
<!--navbar-->
{% include 'base/includes/nav.html' %}

<!-- ✅ PAGE CONTENT -->
<main class="content">
  
    {% block content %}
    {% endblock %}
</main>

<!-- ✅ FOOTER -->
 {% include 'base/includes/footer.html' %}
</body>
</html>






