{% load static %}
<!DOCTYPE html>
<html>
   <link rel="stylesheet" href="{% static 'css/footer.css' %}">
   <footer>
      <div class="foot-panel1">
      Back to top
    </div>
    <div class="foot-panel2">
      <ul>
       <p>GET To Know Us</p>
       <a href="#">Careers</a>
       <a href="#">Blog</a>
       <a href="#">About GIll shop</a>
       <a href="#">Investor Relations</a>
       <a href="#">Gill Science</a>
      </ul>
      <ul>
       <p>Make Money With Us</p>
       <a href="#">Sell products on Gill</a>
       <a href="#">Sell on Gill Business<a>
         
       <a href="#">Sell apps on Gill</a>
       <a href="#">Become an affiliate</a>
       <a href="#">Advertise Your products</a>
       <a href="#">Self-publish with us</a>
       <a href="#">Host an Gill Hub</a>
       <a href="#">See Make More Money with us</a>
      </ul>
      <ul>
       <p>Gill Payment Products</p>
       <a href="#"> Gill Card</a>
       <a href="#">Shop with points</a>
       <a href="#">About Gill</a>
       <a href="#">Reloads Your Balance</a>
       <a href="#">Gill Currency Converter</a>
      </ul>
      <ul>
       <p>Let Us help You</a>
       <a href="#">gill and Covid-19</a>
       <a href="#">Your Account</a>
       <a href="#">Your Orders</a>
       <a href="#">Shipping Rates & policies</a>
       <a href="#">Returns &Replacements</a>
       <a href="#">Manage Contacts & Devies</a>
       <a href="#">Manage Contacts & Devies</a>
       <a href="#">gill Assistants Help</a>
      </ul>
    </div>
    <div class="foot-panel3">
       <div class="logo"></div>
    </div>
    <div class="foot-panel4">
       <div class="pages">
          <p>developer by</p>
          <p>karmdeep kaur,&#169; Since 2025, gillshop.com, Inc.or its affiliate</p>
          
       </div>
    </div>

    </footer>                      

                      
